<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<div class="card mt-3">
    <div class="card-header">
      <div class="float-start">
        <h4>Usuários</h4>
      </div>
      <div class="float-end">
        <button type="button" class="btn btn-primary" (click)="createUser()">Novo Usuário</button>
        <input #searchBox id="search-box" (input)="search(searchBox.value)" />
      </div>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>CPF</th>
            <th>Grupo</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.cpf }}</td>
            <td>{{ user.group }}</td>
            <td>
              <span class="float-end">
                <button class="btn btn-outline-warning mb-1 btn-sm" (click)="updateUser(user)">
                  Atualizar
                </button>
  
                <mat-slide-toggle class="btn btn-outline-danger mb-1 btn-sm" (click)="activeUser(user.active, user)">
                  {{ user.active ? 'Desativar' : 'Ativar' }}
                </mat-slide-toggle >
              </span>
            </td>
          </tr>
        </tbody>
      </table>
  
      <ng-template #loading>
        <span>Carregando...</span>
      </ng-template>
    </div>
  </div>